body {
    font-family: 'PT Sans';
    font-size: 14px;
    font-weight: bold;
    color: black;
    line-height: 26px;
}

h1,
h2 {
    font-size: 21px; 
}

.desc a + a + span {
    background-color: rgb(242,242,242);
}

.desc span + a {
    background-color: rgb(129,179,210);
}

.desc a + a {
    background-color: rgb(118,99,87);
}

.feature .photo1 {
    background-image: url("../img/Layer 10.jpg") no-repeat;
}

.feature .photo2 {
    background-image: url("../img/Layer 5.jpg") no-repeat;
}

.calendar {
    background: url("../img/calendar.png") no-repeat right center
}