body {
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: black;
    line-height: 26px;
    text-transform: uppercase;
}

h1,
h2 {
    font-size: 21px;
}

h2 {
    line-height: 21px;
}


.center {
    width: 1200px;
    margin: 0px auto;
}

.catalogue-header {
    position: relative;
    min-height: 56px;
}

.main-menu {
    padding: 0;
    padding-top: 13px;
    margin: 0;
    width: 480px;
    list-style: none;
}

.main-menu a:hover {
    color: #81b3d2;
}

.main-menu a:link {
    color: black;
}

.main-menu a:active {
    color: black;
    opacity: 0.3;
}

.main-menu .active a {
    color: #766357;
}

.main-menu-left {
    float: left;
}

.main-menu-right {
    float: right;
}

.main-menu li {
    width: 240px;
    float: left;
    text-align: center;
}

.main-menu a {
    text-decoration: none;
    color: black;
}

.logo {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    margin-left: -120px;
    width: 240px;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-view {
    height: 509px;
    position: relative;
    z-index: 1;
    background: url("../img/intro.jpg") no-repeat 0px -55px;
}

.main-view::after {
    content: '';
    width: 100%;
    height: 57px;
    background: url("../img/border.png") no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
}

.features header {
    text-align: center;
    vertical-align: middle;
    height: 122px;
    padding-top: 43px;
    padding-bottom: 50px;
    padding-left: 353px;
    padding-right: 357px;
}

.features header p {
    margin-top: 30px;
}

.feature {
    color: white;
    background-color: #81b3d2;
}

.feature .text-left {
    float: left;
    width: 288px;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 42px;
    padding-left: 56px;
    padding-right: 56px;
}

.feature .text-left h2 {
    padding-left: 47px;
    padding-right: 47px;
    padding-bottom: 8px;
}

.photo1 {
    background: url("../img/feature-photo1.jpg") no-repeat;
    width: 800px;
    height: 256px;
    float: right;
}

.photo2 {
    background: url("../img/feature-photo2.jpg") no-repeat;
    width: 800px;
    height: 256px;
    float: left;
}

.feature .text-right {
    float: right;
    width: 320px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.feature .text-right h2 {
    padding-left: 47px;
    padding-right: 47px;
    padding-bottom: 2px;
}

.feature .text-right p {
    margin-top: 18px;
}

.feature-list-1 .item {
    float: left;
    width: 306px;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 145px;
    padding-bottom: 64px;
    text-align: center;
}

.icon1 {
    background: url("../img/feature-list-icon-1.png") no-repeat 160px 60px; 
}

.icon2 {
    background: url("../img/feature-list-icon-2.png") no-repeat 165px 60px;
}

.icon3 {
    background: url("../img/feature-list-icon-3.png") no-repeat 170px 55px;
}

.feature-list-1 .item p {
    margin-top: 20px;
}

.feature-list-2 .item {
    float: left;
    width: 280px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}

.feature-list-2 h2 {
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.feature-list-2 span {
    
}

.feature-list-2 p {
    margin-top: 22px;
    line-height: 21px;
}

.appointment header {
    text-align: center;
    padding-bottom: 34px
}

.appointment-title {
    font-size: 30px;
    margin-top: 52px;
}

.appointment p {
    margin-top: 30px;
}

.search {
    position: relative;
}

.search a {
    font-size: 21px;
}

.appointment .search-hotel {
    display: block;
    margin: 0 auto;
    padding-left: 133px;
    padding-right: 133px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 300px;
    color: white;
    background-color: #766357;
    text-align: center;
    text-decoration: none;
}

.search-form {
    margin-left: 316px;
    margin-right: 316px;
    padding: 55px 54px;
    width: 460px;
    position: absolute;
    text-align: left;
    background-color: #ffffff;
}

.arrival label {
    width: 100px;
    margin-left: 0px;
    padding-top: 5px;
    float: left;
    height: 35px;
}

.arrival input {
    width: 330px;
    padding: 10px 0;
    padding-left: 10px;
    font-family: "PT Sans", "Arial" sans-serif;
    background: #f2f2f2 url("../img/sprite-search-calendar.png") no-repeat 310px 5px;
    background-color: #f2f2f2;
    cursor: pointer;
    float: right;
}

.arrival input:hover {
    background-position: 310px -33px;
    background-color: #ebebeb;
}

.arrival input:active {
    background-position: 310px -72px;
    background-color: #ffffff;
}

.departure label {
    width: 100px;
    margin-left: 0px;
    padding-top: 7px;
    float: left;
    height: 35px;
}

.departure input {
    width: 330px;
    padding: 10px 0;
    padding-left: 10px;
    font-family: "PT Sans", "Arial" sans-serif;
    background: #f2f2f2 url("../img/sprite-search-calendar.png") no-repeat 310px 8px;
    background-color: #f2f2f2;
    cursor: pointer;
    float: right;
}

.departure input:hover {
    background-position: 310px -31px;
    background-color: #ebebeb;
}

.departure input:active {
    background-position: 310px -70px;
    background-color: #ffffff;
}

.calendar {
    margin-bottom: 24px;
}

.adults {
    float: left;
    padding-top: 2px;
}

.adults label {
    margin-right: 42px;
    
}

.children {
    float: right;
    padding-top: 2px;
}

.children label {
    margin-right: 30px;
}

.quantity-area .left {
    padding: 10px 13px;
    background: #f2f2f2 url("../img/sprite-quantity-area-button.png") no-repeat 10px 10px;
    color: lightgrey;
}

.quantity-area .left:hover {
    background-position: 10px -28px;
}

.quantity-area .left:active {
    background-position: 10px -66px;
}

.quantity-area .right {
    padding: 10px 13px;
    background: #f2f2f2 url("../img/sprite-quantity-area-button.png") no-repeat -65px 10px;
    color: lightgrey;
}

.quantity-area .right:hover {
    background-position: -65px -28px;
}

.quantity-area .right:active {
    background-position: -65px -66px;
}

.quantity-area input {
    padding: 10px;
    width: 20px;
    background-color: #f2f2f2;
    text-align: center;
}

.quantity-area {
  font-size: 0;
}

.quantity-area label,
.quantity-area button,
.quantity-area input {
  font-size: 14px;
}

.search-form .search {
    margin-top: 56px;
    margin-left: 2px;
    padding: 19px 227px;
    background: url("../img/sprite-search-form-input-search.png") no-repeat 0px 0px;
    cursor: pointer;
}

.search-form .search:hover {
    background-position: 0px -70px;
}

.search-form .search:active {
    background-position: 0px -141px;
}

.maps {
    width: 1200px;
    height: 475px;
    background: url("../img/map.jpg") no-repeat;
}


.link {
    width: 400px;
    padding-top: 45px;
    padding-bottom: 36px;
    text-align: center;
    float: left;
    font-size: 21px;
}

.link a {
    text-decoration: none;
    color: black;
}


.footer-social {
    width: 200px;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 99px;
    padding-right: 100px;
    text-align: center;
    float: left;
}

.social-btn {
    display: inline-block;
    height: 47px;
    width: 46px;
    margin: 0px 3px;
    background: url("../img/sprite-social.png") no-repeat center;
}

.social-btn-twitter {
    background-position: 0px 0px;
}

.social-btn-twitter:hover {
    background-position: 0px -56px;
}

.social-btn-twitter:active {
    background-position: 0px -114px;
}

.social-btn-fb {
    background-position: -51px 0px;
}

.social-btn-fb:hover {
    background-position: -51px -56px;
}

.social-btn-fb:active {
    background-position: -51px -114px;
}

.social-btn-youtube {
    background-position: -104px 0px;
}

.social-btn-youtube:hover {
    background-position: -104px -56px;
}

.social-btn-youtube:active {
    background-position: -104px -114px;
}

.footer-social {
    font-size: 0;
}

.copyright {
    width: 400px;
    text-align: center;
    float: right;
    margin-top: 40px;
}

.copyright .website {
    vertical-align: 20px;
}

.copyright .btn {
    display: inline-block;
    width: 130px;
    height: 40px;
    background: url("../img/sprite-html-academy-logo.png") no-repeat 10px 0;
}

.copyright .btn:hover {
    background: url("../img/sprite-html-academy-logo.png") no-repeat 10px -48px;
}

.copyright .btn:active {
    background: url("../img/sprite-html-academy-logo.png") no-repeat 10px -96px;
}